*{
    margin: 0;
    padding: 0;
}

.main{

    width: 100%;
    background: linear-gradient(to top, rgba(0,0,0,0.5)50%,rgba(0,0,0,0.5)50%), url(/static/images/image5.jpeg);
    background-position: center;
    background-size: cover;
    height: 109vh;
}

.navbar{
    width: 1200px;
    height: 200px;
    margin: auto;
}

.icon{
    width: 200px;
    float: left;
    height: 70px;
}

.logo{
    color: #fffefd;
    font-size: 35px;
    font-family: Arial;
    padding-left: 20px;
    float: left;
    padding-top: 10px;
    margin-top: 5px
}

.menu{
    width: 400px;
    float: left;
    height: 70px;
}
/* Testing Dropdown */
.dropdown {
  float: left;
  overflow: hidden;
}

.dropdown .dropbtn {
  font-size: 14px;  
  border: none;
  /* outline: none; */
  outline: invert
  padding: 14px 6px;
  background-color: inherit;
  font-family: Arial;
  margin: 0;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }
  
  .dropdown-content a:hover {
    background-color: #ddd;
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
  }

  /* Testing Dropdown */

ul{
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;
}

ul li{
    list-style: none;
    margin-left: 62px;
    margin-top: 27px;
    font-size: 14px;
}

ul li a{
    text-decoration: none;
    color: #fff;
    font-family: Arial;
    font-weight: bold;
    transition: 0.4s ease-in-out;
}   

ul li a:hover { 
    /* color: #ff7200; */
    color: rgb(128,62,249);
}

.search {
    width: 330px;
    float: left;
    margin-left: 270px;
}

.srch { 
    font-family: 'Times New Roman';
    width: 200px;
    height: 40px;
    background: transparent;
    /* border: 1px solid #ff7200; */
    border: 1px solid rgb(128,62,249);
    margin-top: 13px;
    color: #fff;
    border-right: none;
    font-size: 16px;
    float: left;
    padding: 10px;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
}

.btn {
    width: 100px;
    height: 40px;
    /* background: #ff7200; */
    background: rgb(128,62,249);
    /* border: 2px solid #ff7200; */
    border: 2px solid rgb(128,62,249);
    margin-top: 13px;
    color: #fff;
    font-size: 15px;
    border-bottom-right-radius: 5px;
    border-bottom-right-radius: 5px;
    transition: 0.2s ease;
    cursor: pointer;
}


.btn:focus {
    outline: none;
}

.btn:hover{
    color: #000;}


.btnl {
    width: 40px;
    height: 20px;
    /* background: #ff7200; */
    background: rgb(128,62,249);
    border: 2px solid rgb(128,62,249);
    /* border: 2px solid #ff7200; */
    margin-top: 2px;
    color: #fff;
    font-size: 12px;
    /* border-bottom-right-radius: 5px; */
    /* border-bottom-right-radius: 5px; */
    /* border-radius: 5px; */
    transition: 0.2s ease;
    cursor: pointer;
}


.btnl:focus {
    outline: none;
}

.btnl:hover{
    color: #000;}

.srch:focus {
    outline: none;
}

.content{
    width: 1200px;
    height: auto;
    margin: auto;
    color: #fff;
    position: relative;
    /* width: 350px;
    height: 380px;
    margin: auto;
    left: 250px;
    top: -20px
    color: #fff;
    position: absolute; */
}

.content .par{
    padding-left: 20px;
    padding-bottom: 25px;
    font-family: Arial;
    letter-spacing: 1.2px;
    line-height: 30px;
}

.content .h1{
    padding-left: 20px;
    margin-top: 9%;    
    font-family: 'Times New Roman';
    font-size: 50px;
    letter-spacing: 2px;
    color: #fff;
}

.content .cn {
    width: 160px;
    height: 40px;
    /* background: #ff7200; */
    /* background: rgb(128,62,249); */
    background: rgb(81, 81, 81);
    border: none;
    margin-bottom: 10px;
    margin-left: 20px;
    font-size: 18px;
    border-radius: 10px;
    cursor: pointer;
    transition: .4s ease;
    }

.content .cn .a {
    text-decoration: none;
    color: #000;
    transition: .3s ease;
}

.cn:hover {
    background-color: #fff;
}

.content span {
    /* color: #ff7200; */
    color: rgb(128,62,249);
    font-size: 65px
}

/* Form in Add Account Page */

.formaddnew {
    width: 280px;
    height: 520px;
    background: linear-gradient(to top, rgba(199, 197, 197, 0.195)50%,rgba(199, 197, 197, 0.196)50%);
    /* position: absolute; */
    position: relative;
    left: 100px;
    top: 20px;
    border-radius: 10px;
    padding: 25px;
}

.formaddnew h2 {
    width: 220px;
    font-family: sans-serif;
    text-align: center;
    /* color: #ff7200; */
    color: rgb(128,62,249);
    font-size: 22px;
    background-color: #fff;
    border-radius: 10px;
    margin: 2px;
    padding: 2px;
    margin-left: 10%;
}
.formaddnew input {
    width: 280px;
    height: 35px;
    background: transparent;
    /* border-bottom: 1px solid #ff7200; */
    border-bottom: 1px solid rgb(128,62,249);
    border-top: none;
    border-right: none;
    border-left: none;
    color: #fff;
    font-size: 15px;
    letter-spacing: 1px;
    margin-top: 30px;
    font-family: sans-serif;
}

.formaddnew input:focus {
    outline: none;
}

::placeholder {
    color: #fff;
    font-family: Arial;
}

/*  Form in Add Account Page */

.form {
    width: 250px;
    height: 380px;
    background: linear-gradient(to top, rgba(199, 197, 197, 0.195)50%,rgba(199, 197, 197, 0.196)50%);
    position: absolute;
    top: -20px;
    left: 870px;
    border-radius: 10px;
    padding: 25px;
}

.form h2 {
    width: 220px;
    font-family: sans-serif;
    text-align: center;
    color: rgb(128,62,249);
    font-size: 22px;
    background-color: #090909;
    border-radius: 10px;
    margin: 2px;
    padding: 8px;
}
.form input {
    width: 240px;
    height: 35px;
    background: transparent;
    /* border-bottom: 1px solid #ff7200; */
    border-bottom: 1px solid rgb(128,62,249);
    border-top: none;
    border-right: none;
    border-left: none;
    color: #fff;
    font-size: 15px;
    letter-spacing: 1px;
    margin-top: 30px;
    font-family: sans-serif;
}

.form input:focus {
    outline: none;
}

::placeholder {
    color: #fff;
    font-family: Arial;
}

.btnn {
    width: 240px;
    height: 40px;
    /* background: #ff7200; */
    background: rgb(128,62,249);
    border: none;
    margin-top: 30px;
    font-size: 18px;
    border-radius: 10px;
    cursor: pointer;
    color: #fff;
    transition: 0.4s ease;
}

.btnn:hover:hover {
    background: #fff;
    /* color: #ff7200; */
    color: rgb(128,62,249);
}

.btnn a{
    text-decoration: none;
    color: #000;
    font-weight: bold;
}

/* Start - For the Button in the Result URL*/
.btnnlist {
    width: 150px;
    height: 40px;
    /* background: #ff7200; */
    background: rgb(128,62,249);
    border: none;
    margin-top: 30px;
    font-size: 18px;
    border-radius: 10px;
    cursor: pointer;
    color: #fff;
    transition: 0.4s ease;
}

.btnnlist:hover:hover {
    background: #fff;
    /* color: #ff7200; */
    color: rgb(128,62,249);
}

.btnnlist a{
    text-decoration: none;
    color: #000;
    font-weight: bold;
}



/* End - For the Button in the Result URL*/
.form .link {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 17px;
    padding-top: 20px;
    text-align: center;
}

.form .link a {
    text-decoration: none;
    /* color: #ff7200; */
    color: rgb(128,62,249);
}

.liw {
    padding-top: 15px;
    padding-bottom: 10px;
    text-align: center;
}

.icon a {
    text-decoration: none;
    color: #fff;
}

.icon ion-icon {
    color: #fff;
    font-size: 25px;
    padding-left: 20px;
    padding-top: 5px;
    transition: 0.3s ease;
}

.icon ion-icon:hover {
    /* color: #ff7200; */
    color: rgb(128,62,249);
}


/* TABLE */

table {
    border-collapse: collapse;
  }

th, td {
    border: 1px solid rgb(250, 240, 240);
    padding: 8px;
  }

  .cell-highlight {
    /* background-color: #ff7200; */
    background-color: rgb(95,21,250);
    font-weight: bold;
  }

  thead {
	font-size: 0.875rem;
	text-transform: uppercase;
	letter-spacing: 2%;
}

caption {
    font-weight: bold;
    font-size: 30px;
    text-align: left;
    color: #ffffff;
  }

tr:hover {background-color: rgba(251, 92, 72, 0.668);}
/* thead th { 
    width: 10%;
  } */