<!DOCTYPE html>
<html lang="en">
<head>
    <title>Planning App</title>
    <link rel="stylesheet" href="/static/css/style.css">
</head>
<body>
    <div class="main">
        <div class="navbar">
            <div class="icon">
                <h2 class="logo">PlanB</h2>
            </div>
            <div class="menu">
                <ul>
                    <li><a href="{{ url_for('home') }}">HOME</a></li>
                    <li class="dropdown">
                        <a href="#" class="dropbtn">ADD</a>
                        <div class="dropdown-content">
                            <a href="{{ url_for('enternew') }}">Add Account</a>
                            <a href="#">Add Inventory Data</a>
                        </div>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropbtn">SHOW</a>
                        <div class="dropdown-content">
                            <a href="{{ url_for('list') }}">Account Info</a>
                            <a href="#">Inventory Info</a>
                        </div>
                    </li>
                    <li><a href="#">CONTACT</a></li>
                </ul>
            </div>

            <div class="search">
                <input class="srch" type="search" name="" placeholder="Search Account">
                <a href="#"><button class="btn">Search</button></a>
            </div>

        </div>
        <div class="content">

            <div class="formaddnew">
                <h2>Insert Account Details</h2>
                <form action="{{ url_for('addrec') }}" method="POST">
            
                    <input type="text" name="nm" placeholder="Account Name">
                    <input type="text" name="csm" placeholder="Cust Success Mgr">
                    <input type="text" name="es" placeholder="Ent Services">
                    <input type="text" name="last" placeholder="Date(YYYY-MM-DD or 1 April)">
                    <input type="text" name="activity" placeholder="Activity Performed">
                    <input type="text" name="nextc" placeholder="(YYYY-MM-DD or 1 April)">
                    <button class="btnn"><a href="#">Submit</a></button>
                </form>
            </div>
        </div>
    </div>
</body>
</html>