<!DOCTYPE html>
<html lang="en">
<head>
    <title>Planning App</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <div class="main">
        <div class="navbar">
            <div class="icon">
                <h2 class="logo">PlanB</h2>
            </div>
            <div class="menu">
                <ul>
                    <li><a href="{{ url_for('home') }}">HOME</a></li>
                    <li class="dropdown">
                        <a href="#" class="dropbtn">ADD</a>
                        <div class="dropdown-content">
                            <a href="{{ url_for('enternew') }}">Add Account</a>
                            <a href="#">Add Inventory Data</a>
                        </div>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropbtn">SHOW</a>
                        <div class="dropdown-content">
                            <a href="{{ url_for('list') }}">Account Info</a>
                            <a href="#">Inventory Info</a>
                        </div>
                    </li>
                    <li><a href="#">CONTACT</a></li>
                </ul>
            </div>

            <div class="search">
                <input class="srch" type="search" name="" placeholder="Search Account">
                <a href="#"><button class="btn">Search</button></a>
            </div>

        </div>
        <!-- Overflow is for table responsiveness -->
        <div style="overflow-x: auto;" class="content"> 
            <table>
                <caption>Account List, Action & Next Steps</caption>
                <thead class="cell-highlight">
                    <th scope="col">ID</th>
                    <th scope="col">Account Name</th>
                    <th scope="col">CSM</th>
                    <th scope="col">ES</th>
                    <th scope="col">Last Connected</th>
                    <th scope="col">Activity Performed</th>
                    <th scope="col">Next Contact Date</th>  
                </thead>
                {% for row in rows %}
                <tr>    
                    <td>{{ row["rowid"] }}</td>
                    <td>{{ row["Account_name"] }}</td>
                    <td> {{ row["CSM"]}}</td>
                    <td>{{ row["ES"] }}</td>
                    <td>{{ row["Last_Contacted"] }}</td>
                    <td>{{ row["Activity_Performed"] }}</td>
                    <td>{{ row["Next_Contact"] }}</td>
                    <td>
                        <form action="{{url_for('edit')}}" method="POST">
                            <input type="hidden" name="id" value="{{ row['rowid'] }}">
                            <button class="btnl" type="submit">Edit</button>
                        </form> 
                        <!-- <form action="{{url_for('edit')}}" method="POST"><input type="hidden" name="id" value="{{ row['rowid'] }}"><input type="submit" value="Edit"></form>  -->
                    </td>
                    <td>
                        <form onsubmit="return confirm('Are you sure you want to DELETE this entry from the Database?');" action="{{url_for('delete')}}" method="POST"><input type="hidden" name="id" value="{{ row['rowid'] }}"><input class="btnl"  type="submit" value="Delete"></form> 
                    </td>      
                </tr>
                {% endfor %}
                
            </table>


            
        </div>
    </div>
    
</body>
</html>