{% extends "layout.html" %}
{% block title %}
Add New Student
{% endblock %}
{% block content %}


    <!-- <div class="form"
        <form action="{{ url_for('addrec') }}" method="POST">
            <h2>Insert Account Details:</h3>

            Name
            <input type="text" name="nm" /><br>

            Address -->
            <!-- <textarea name="add"></textarea><br> -->
            <!-- <input type="text" name="add" /><br>

            City
            <input type="text" name="city" /><br>

            Zip Code
            <input type="text" name="zip" /><br>

            <input type="submit" value="Submit" /><br>
        </form>
    </div> -->

    <div>
        <form action="{{ url_for('addrec') }}" method="POST">
            <h2>Insert Account Details:</h3>

            <label for="name">Name</label>
            <input id="name" type="text" name="nm" /><br>

            Address
            <!-- <textarea name="add"></textarea><br> -->
            <input type="text" name="add" /><br>

            City
            <input type="text" name="city" /><br>

            Zip Code
            <input type="text" name="zip" /><br>

            <input type="submit" value="Submit" /><br>
        </form>



    </div>

    
{% endblock %}